<%= form_with(model: @speak, local: true) do |form| %>

  <div class="content">
    <%= form.label :投稿内容 %>
    <%= form.text_field :content %>
  </div>

  <%= form.submit %>

  <%= link_to "一覧画面にもどる", speaks_path %>
<% end %>
