<%= form_with(model: @post, local: true,url: choose_new_or_edit ) do |form| %>

  <div class="content">
    <%= form.label :投稿内容 %>
    <%= form.text_field :content %>
  </div>

  <%= form.submit %>

  <%= link_to "一覧画面にもどる", posts_path %>
<% end %>
