<header>
  <h2>以下の内容で送信する</h2>
</header>

<div class="sns_img">
  <%= image_tag 'sns_happy_man.png' %>
</div>

<%= form_with(model: @post, local: true) do |form| %>

  <%= form.hidden_field :content %>

  <p class="content">本文:<%= @post.content %></p>

  <div class="send_button">
    <%= form.submit "登録する" %>
    <%= form.submit "戻る",name: 'back' %>
  </div>

<% end %>

<footer class="footer">
  <p>speak_app_footer</p>
</footer>
